In [1]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Collecting pycoingecko
  Downloading pycoingecko-2.2.0-py3-none-any.whl (8.3 kB)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pycoingecko) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->pycoingecko) (2.8)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->pycoingecko) (1.26.6)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0
Requirement already satisfied: plotly in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from plotly) (1.15.0)
Collecting mplfinance
  Downloading mplfinance-0.12.8b4-py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 3.7 MB/s  eta 0:00:01
Requirement already satisfied: matplotlib in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from mplfinance) (3.3.4)
Requirement already satisfied: pandas in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from mplfinance) (1.2.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas->mplfinance) (2021.1)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.8b4

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

In [3]:
dict_={'a':[11,21,31],'b':[12,22,32]}

In [4]:
df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [14]:
df.mean()

a    21.0
b    22.0
dtype: float64

In [13]:
df.max()

a    31
b    32
dtype: int64

In [17]:
cg = CoinGeckoAPI()
bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [18]:
type(bitcoin_data)

dict

In [21]:
bitcoin_price_data = bitcoin_data['prices']
bitcoin_price_data[0:5]

[[1636905647369, 64382.234299135795],
 [1636909344634, 63874.891513550705],
 [1636912803726, 64437.226342290676],
 [1636916439165, 64095.594918662646],
 [1636920125414, 64216.75532501951]]

In [27]:
data_df = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'prices'])

In [28]:
data_df.head()

       TimeStamp        prices
0  1636905647369  64382.234299
1  1636909344634  63874.891514
2  1636912803726  64437.226342
3  1636916439165  64095.594919
4  1636920125414  64216.755325

In [33]:
data_df['date'] = data_df['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))

In [34]:
data_df

         TimeStamp        prices        date
0    1636905647369  64382.234299  2021-11-14
1    1636909344634  63874.891514  2021-11-14
2    1636912803726  64437.226342  2021-11-14
3    1636916439165  64095.594919  2021-11-14
4    1636920125414  64216.755325  2021-11-14
..             ...           ...         ...
717  1639483398597  47489.684556  2021-12-14
718  1639486877147  47681.118710  2021-12-14
719  1639490608043  47170.550856  2021-12-14
720  1639494162130  47397.789001  2021-12-14
721  1639495485000  47287.623627  2021-12-14

[722 rows x 3 columns]

In [44]:
candle_stick_data = data_df.groupby(data_df.date, as_index=False).agg({'prices': ['min', 'max', 'first', 'last']})

In [48]:
fig = go.Figure(data=[go.Candlestick(x=candle_stick_data['date'],
                open=candle_stick_data['prices']['first'], 
                high=candle_stick_data['prices']['max'],
                low=candle_stick_data['prices']['min'], 
                close=candle_stick_data['prices']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()